extends layout

block content
	h1 Videa Admin
	p Welcome to Videa Admin
	ul
		li
			a(href="/admin/ios/upload") iOS
		li
			a(href="/admin/ios_retina/upload") iOS Retina
		li
			a(href="/admin/android/upload") Android
