extends layout

block content
	h1 digitv admin
	p welcome to digitv admin
	ul
		li
			a(href="/admin/ios/upload") ios 
		li
			a(href="/admin/ios_retina/upload") ios retina
		li
			a(href="/admin/android/upload") android
