extends layout

block content
	h1 upload #{type} images
	form(action="/admin/#{type}/upload", method="post", enctype="multipart/form-data")
		div
			label(for="logo") logo: 
			input(type="file", name="logo")
		div
			label(for="background") background: 
			input(type="file", name="background")
		div
			input(type="submit")