extends layout

block content
	h1 Upload #{typename} Images
	form(action="/admin/#{type}/upload", method="post", enctype="multipart/form-data")
		div
			label(for="logo") Logo: 
			input(type="file", name="logo")
		div
			label(for="background") Background: 
			input(type="file", name="background")
		div
			input(type="submit")